@model List<MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Movies</h2>
    <ul>
        @foreach (var movie in Model)
        {
            <li class="movie-item">
                <div class="image-container">
                    <!-- Wrap the image in an anchor tag with the href attribute -->
                    <a href="@Url.Action("GetMovie", "Movies", new { id = movie.Id })">
                        <img src="@movie.ImageUrl" alt="Movie Image" />
                    </a>
                </div>
                <div class="movie-details">
                    <p><a href="/movies/getmovie/@movie.Id">@movie.Name</a></p>
                    <p>Rating: @movie.Rating</p>
                    <p>Release Year: @movie.ReleaseYear</p>
                    <p>Genre: @movie.Genre</p>
                </div>
            </li>
        }
    </ul>
</div>




